doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css", integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x", crossorigin="anonymous")
        title logs
    body 
        nav(class="navbar navbar-expand-lg navbar-light", style="background-color: #e3f2fd;") 
            ul(class="navbar-nav me-auto mb-2 mb-lg-0") 
                li(class="nav-item")
                    a(href="/", class="nav-link active") Day
                li(class="nav-item")
                    a(href="/Week", class="nav-link active") Week
                li(class="nav-item")
                    a(href="/All", class="nav-link active") All


        table(class="table table-striped")
            thead 
                tr 
                    th time
                    th type 
                    th server id 
                    th channed id 
                    th author 
                    th message id 
                    th content 
            tbody 
                each vals in data 
                    tr 
                        td #{new Date(vals.timestamp).toISOString()}
                        td #{vals.type} 
                        td #{vals.serverID} 
                        td #{vals.channelID} 
                        td #{vals.author} 
                        td #{vals.msgID} 
                        td #{vals.content} 